{% extends "base.html.twig" %}
{% form_theme form 'ad/_collection.html.twig' %}
{% block title %}Edition d'une annonce'{% endblock %}

{% block body %}
<div class="container">
    <h1>Editer l'annonce : {{ ad.title}}</h1>

    {{form_start(form)}}
    {{form_widget(form)}}

    <button class="btn btn-primary" type="submit">Modifier l'annonce</button>

    {{form_end(form)}}
</div>

{% endblock %}



{% block javascripts %}
{{parent()}}
{{ encore_entry_script_tags('ad') }}
{% endblock %}
